/*
 * Custom CSS
 */

 :root {
    --bs-body-bg: var(--bs-white);
  
    --meili-primary: #FCA5A5;
    --meili-dark-primary: #fd4c4c;
    --meili-white: #fff;
    --meili-black: #333;
  }
  
  body {
    font-family: "Avenir Next", sans-serif;
    font-size: 14px;
    transition: all 0.2s;
  
    .meili-home-page {
      .meili-ad {
        height: 36px;
        width: 100%;
        background-color: var(--meili-primary);
        color: var(--meili-black);
        font-size: 12px;
        font-weight: 500;
      }
  
      .meili-header-container {
        position: relative;
        flex-direction: row;
  
        .meili-search {
          position: absolute;
          top: calc(50% - 15px);
        }
  
        .meili-top-logo {
          height: 50px;
        }
  
        .meili-user-controls {
          position: absolute;
          width: 150px;
          right: 0;
          top: calc(50% - 15px);
          font-size: 20px;
  
          .nav-link {
            padding: 0 12px;
          }
        }
      }
  
      .meili-menus {
        .nav-link.active {
          text-decoration: underline;
        }
      }
  
      .carousel-item {
        max-height: 80vh;
  
        > img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: top -50px right 0;
        }
      }
    }
  
    .on-sale-price {
      .old-price {
        color: slategray;
        text-decoration: line-through;
        margin-right: 10px;
      }
  
      .sale-price {
        color: var(--meili-dark-primary);
      }
    }
  
    .footer-container {
      /* border-top: 2px dashed var(--meili-primary); */
    }
  }