{% import 'macros/head.html' as macros_head %}
{% import 'macros/header.html' as macros_header %}
{% import 'macros/footer.html' as macros_footer %}
{% import 'macros/javascript.html' as macros_js %}
<!DOCTYPE html>
<html lang="{{ config.extra.language_code | default(value=" en-US") }}" class="h-100" data-bs-theme="light">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  {{ macros_head::resource() }}
  {{ macros_head::stylesheet() }}

  {% block seo %}
  {% if config.extra.title_separator %}
  {% set title_separator = " " ~ config.extra.title_separator ~ " " %}
  {% else %}
  {% set title_separator = " | " %}
  {% endif %}
  {% endblock seo %}

  {{ macros_head::favicons() }}

</head>

<body>
  <div class="meili-header">
    <div class="meili-ad d-flex flex-wrap justify-content-center align-items-center">
      FREE SHIPPING ON ALL ORDERS OVER 500NOK.
    </div>

    <div class="container meili-header-container align-items-center mt-4 mb-2">
      <form class="col-2 meili-search" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>

      <header class="d-flex flex-wrap justify-content-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 link-body-emphasis text-decoration-none">
          <img src="{{ get_url(path="images/logo.svg") | safe }}" class="img-fluid meili-top-logo" alt="Meili little things">
        </a>
      </header>

      <ul class="nav justify-content-center meili-user-controls">
        <li>
          <a href="#" class="nav-link">
            <i class="bi bi-person"></i>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link">
            <i class="bi bi-cart"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="d-flex justify-content-center pb-1 border-bottom">
      <ul class="nav col-12 col-md-auto justify-content-center meili-menus">
        <li><a href="#" class="nav-link px-2 active">Jwellery</a></li>
        <li><a href="#" class="nav-link px-2">Key chains</a></li>
        <li><a href="#" class="nav-link px-2">Hair accessories</a></li>
        <li><a href="#" class="nav-link px-2">Phone accessories</a></li>
        <li><a href="#" class="nav-link px-2">Socks</a></li>
        <li><a href="#" class="nav-link px-2">Slippers</a></li>
        <li><a href="#" class="nav-link px-2">Handbags</a></li>
      </ul>
    </div>
  </div>

  {% block content %} {% endblock %}

  {% block footer %}
  {{ macros_footer::footer() }}
  {% endblock footer %}

  {{ macros_js::javascript() }}
</body>

</html>