{% extends "section.html" %}

{% block header %}
{# This value is matched by the config.extra.menu.main~section #}
{% set current_section = "index" %}
{{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
<main class="meili-home-page">
  <div id="myCarousel" class="carousel carousel-dark slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ get_url(path="images/p1.jpg") | safe }}" class="d-block" alt="...">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Example headline.</h1>
            <p class="opacity-75">Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{ get_url(path="images/p2.jpg") | safe }}" class="d-block" alt="...">
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{ get_url(path="images/p3.jpg") | safe }}" class="d-block" alt="...">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="album py-5">
    <div class="container">
      <h4 class="text-center mb-3">SHOP OUR MOST POPULAR</h4>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ get_url(path="images/p1.jpg") | safe }}" class="d-block" alt="...">
            <div class="card-body text-center">
              <p class="card-text mb-1">Hair clips</p>
              <small class="text-body-secondary">39 NOK</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ get_url(path="images/p2.jpg") | safe }}" class="d-block" alt="...">
            <div class="card-body text-center">
              <p class="card-text mb-1">Hair accessories</p>
              <small class="text-body-secondary">29 NOK</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ get_url(path="images/p3.jpg") | safe }}" class="d-block" alt="...">
            <div class="card-body text-center">
              <p class="card-text mb-1">Jwellery</p>
              <small class="text-body-secondary">99 NOK - 399 NOK</small>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ get_url(path="images/p4.jpg") | safe }}" class="d-block" alt="...">
            <div class="card-body text-center">
              <p class="card-text mb-1">Hair clips</p>
              <small class="text-body-secondary">39 NOK</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ get_url(path="images/p5.jpg") | safe }}" class="d-block" alt="...">
            <div class="card-body text-center">
              <p class="card-text mb-1">Hair accessories</p>
              <small class="text-body-secondary">29 NOK</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ get_url(path="images/p6.jpg") | safe }}" class="d-block" alt="...">
            <div class="card-body text-center">
              <p class="card-text mb-1">Jwellery</p>
              <small class="text-body-secondary">99 NOK - 399 NOK</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock content %}